/ListasCirculares/nbproject/private/
/ListasCirculares/build/
/InterfacesPractice/nbproject/private/
/InterfacesPractice/build/
/Interfaces01/nbproject/private/
/Interfaces01/build/
/Ejercicio1Programateca/nbproject/private/
/Ejercicio1Programateca/build/
/Ejercicio3Programateca/nbproject/private/
/EjerciciosProgramateca/nbproject/private/
/EjerciciosProgramateca/build/
/Programateca/nbproject/private/
/Programateca/build/
/Ejercicio10Programateca/nbproject/private/
/Ejercicio10Programateca/build/
/IntentoDeGrafo/nbproject/private/
/IntentoDeGrafo/build/
/IntentoDeGrafo2/nbproject/private/
/IntentoDeGrafo2/build/
/Intento de GraphStream/nbproject/private/
/gs-core-dev/JavaLibrary2/nbproject/private/
/Intento de GraphStream/build/
/gs-core-dev/JavaApplication59/nbproject/private/
/gs-core-dev/JavaApplication59/build/
/gs-core-dev/okk/nbproject/private/
/gs-core-dev/KosarajuTry/nbproject/private/
/gs-core-dev/KosarajuTry_/nbproject/private/
/gs-core-dev/KosarajuTry_/build/
/gs-core-dev/PrincipiosSolid_Ernesto/nbproject/private/
/gs-core-dev/PrincipiosSolid_Ernesto/build/
