/ListasCirculares/nbproject/private/
/ListasCirculares/build/
/InterfacesPractice/nbproject/private/
/InterfacesPractice/build/
/Interfaces01/nbproject/private/
/Interfaces01/build/
/Ejercicio1Programateca/nbproject/private/
/Ejercicio1Programateca/build/
